<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fusepowered.ads.adapters.NativeX"
    android:versionCode="1"
    android:versionName="1.0" >
    <!--
 Recommended Permissions for accessing alternative device identifiers if (1) Google Play Services
         isn't integrated into your app or (2) many of your users' devices won't have Google Play Services
         installed (common in China, for example).
    -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name="com.fusepowered.nx.monetization.activities.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.fusepowered.nx.videoplayer.VideoActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>